<html lang="en"><head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
	<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">


	<link rel="stylesheet" href="/public/styles/bootstrap.css">
	<link rel="stylesheet" href="/public/styles/slick.css">
	<link rel="stylesheet" href="/public/styles/lick-theme.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"> -->
	<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"> -->
	<link rel="stylesheet" href="/public/styles/fullpage.min.css">
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"> -->
	<link rel="stylesheet" href="/public/styles/project_galery.css">
	<title>TLP-AB.RU</title>
	</head>
	<!-- <div class="page-loader is-fixed is-active d-flex h-100 flex-column justify-content-between loader-closer">
		<div class="text-uppercase text-center language-block">
			<div class="language-wrap">
				<a href="/" class="text_10 text-uppercase language-wrap__link">ru</a>
				<div class="line" style="margin-top: 3px; margin-bottom: 2px;"></div>
				<a href="/en/" class="text_10 text-uppercase language-wrap__link">en</a>
			</div>
		</div>
		<div class="main-logo">
			<img src="/assets/img/icons/zlp-logo-preloader.svg" style="width: 504px; height: 50px;"  alt="">
		</div>
		<div class=" text-center text_10 main-links">
			<div><a href="tel:+74957907976">7 495 790—7976</a></div>
			<div><a href="mailto:INFO@TLP-AB.RU" class="">INFO@TLP-AB.RU</a></div>
			<div class="line"></div>
			<div><a download href="/uploads/">ПРЕЗЕНТАЦИЯ PDF —  мб</a></div>
		</div>
		<div class="full-cursor cursor_triger" data-cursor="expanded">

		</div>
	</div> -->
	<body class="" style="top: auto;"><div class="main-page is-fixed">
	
	<div class="page-loader is-fixed d-flex h-100 flex-column justify-content-between pt-10 pb-10 loader-closer">
		<div class="text-uppercase text-center language-block">
			<div class="language-wrap">
				<a href="/" class="text_10 text-uppercase language-wrap__link">ru</a>
				<div class="line" style="margin-top: 3px; margin-bottom: 2px;"></div>
				<a href="/en/" class="text_10 text-uppercase language-wrap__link">en</a>
			</div>
		</div>
		<div class="px-5">
			<img src="/assets/img/icons/zlp-logo-preloader.svg" alt="" class="img-fluid" width="232">
		</div>
		<div class=" text-center text_10 main-links">
			<div class="invisible"><a href="tel:+74957907976">7 495 790—7976</a></div>
			<div class="invisible"><a href="mailto:INFO@TLP-AB.RU" class="">INFO@TLP-AB.RU</a></div>
			<div class="line"></div>
						<div><a download="" href="/uploads/2024-06-17_TSIMAILO_LYASHENKO_PARTNERS_RUS.pdf">ПРЕЗЕНТАЦИЯ PDF — 10 мб</a></div>
		 		</div>
	</div>

	<div class="preview-projects">
	<div class="mobile-menu-container ">
	<div class="container h-100 d-flex flex-column justify-content-between">
		<div class="text-uppercase d-flex">
			<!-- <div class="mb-5">
				<img src="/assets/img/icons/logo-mobile-small.svg"" alt=""> 
			</div> -->
			<div class="language-wrap w-100">
				<a href="/" class="text-uppercase lang-link link-black pr-2 ajax-nav">ru</a>
				<a href="/en/" class="text-uppercase lang-link language-wrap__link ajax-nav">en</a>
			</div>
			<div class="socials-wrap text-nowrap">
				<!-- <a href="https://www.instagram.com/tlp.ab" target="_blank" class="pr-2">INSTAGRAM</a>
				<a href="https://www.facebook.com/tlp.ab" target="_blank" class="">FACEBOOK</a> -->
			</div>
		</div>
		<ul class="mobile-menu text-uppercase mt-0 mb-0">
			<li>
				<a href="/" class="ajax-nav" id="main_ru" onclick="closeProject('#main_ru');">ПРОЕКТЫ</a>
			</li>
			<li>
				<a href="/bureau/" class="ajax-nav" id="bureau_ru" onclick="closeProject('#bureau_ru');">Бюро</a>
			</li>
			<li>
				<a href="/education/" class="ajax-nav" id="education_ru" onclick="closeProject('#education_ru');">ОБРАЗОВАНИЕ</a>
			</li>
			<li>
				<a href="/contacts/" class="ajax-nav" id="contacts_ru" onclick="closeProject('#contacts_ru');">КОНТАКТЫ</a>
			</li>
		</ul>

		<nav class="d-flex flex-column mobile-filter">
			<div class="line-dotted"></div>
			<a href="#/filter=.cat-1" class="text-uppercase pr-2 ">ЖИЛЫЕ</a>
			<a href="#/filter=.cat-2" class="text-uppercase pr-2 ">ОБЩЕСТВЕННЫЕ</a>
			<a href="#/filter=.cat-3" class="text-uppercase pr-2 ">ИНТЕРЬЕРЫ</a>
			<a href="#/filter=.cat-4" class="text-uppercase pr-2 ">МАСТЕРПЛАНЫ</a>
			<!-- <a href="#/filter=*" class="text-uppercase pr-2 ">ВСЕ</a> -->
		</nav>
	</div>
</div>
<div class="page-header mobile-header static-header">
	<div class="container mobile-header-container">
		<div class="row justify-content-between align-items-center">
			<div class="col-auto color-black">
				<div class="mobile-logo">
					<a href="/" class="main-page-link link-black ajax-nav" data-params="{&quot;name&quot;:&quot;Главная&quot;}">
						<img src="/assets/img/icons/logo-mobile-small.svg" alt="" style="display: block;">
					</a>
				</div>
			</div>
			<div class="col-auto">
				<div class="menu-icon_mobile menu-icon_margin pl-0 ">
					<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" class="hamburger">
						<path d="M1,-5 L1,15" class="p1"></path>
						<path d="M5,-5 L5,15" class="p2"></path>
						<path d="M9,-5 L9,15" class="p3"></path>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-header mobile-header sticky-header">
	<div class="container mobile-header-container">
		<div class="row justify-content-between align-items-center">
			<div class="col-auto color-black">
				<div class="mobile-logo">
					<!-- <a href="/" class="main-page-link link-black ajax-nav"></a> -->
					<img src="/assets/img/icons/logo-mobile-small.svg" alt="" style="display: block;">
					
				</div>
			</div>
			<div class="col-auto">
				<div class="menu-icon_mobile menu-icon_margin pl-0 ">
					<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 10" class="hamburger">
						<path d="M1,-5 L1,15" class="p1"></path>
						<path d="M5,-5 L5,15" class="p2"></path>
						<path d="M9,-5 L9,15" class="p3"></path>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
	<!--================= mobile preview-projects__container start ==================!-->
	<div class="container overflow-hidden page-content_padding">
		<div class="preview-projects__content" style="position: relative; height: 3080px;">
							<div class=" hide_in_common d-none preview-projects__item cat-2 cat-3" style="position: absolute; left: 0px; top: 0px;">
					<div onclick="openProject('/main/61/?modal=1', '/main/61/', 'Vanrive', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/public/src/0001.1_Vanriver/00.jpg" alt="Vanrive"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Vanrive</div>
							<div class="projects_year text_10">2023 –  </div>
						</div>
					</div>
				</div>
								<div class=" hide_in_common d-none preview-projects__item cat-1 cat-4" style="position: absolute; left: 0px; top: 0px;">
					<div onclick="openProject('/main/58/?modal=1', '/main/58/', 'Яналиф', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/294805441.jpg" alt="Яналиф"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Яналиф</div>
							<div class="projects_year text_10">2020 — </div>
						</div>
					</div>
				</div>
								<div class=" hide_in_common d-none preview-projects__item cat-3" style="position: absolute; left: 0px; top: 0px;">
					<div onclick="openProject('/main/59/?modal=1', '/main/59/', 'Цвет 32', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/public/src/0001.1_Vanriver/00.jpg" alt="Цвет 32"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Vanriver</div>
							<div class="projects_year text_10">2016 - 2019</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 0px; top: 0px;">
					<div onclick="openProject('/main/57/?modal=1', '/main/57/', 'OPUS', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/public/src/0001.1_Vanriver/00.jpg" alt="OPUS"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Vanriver</div>
							<div class="projects_year text_10">2020 —</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 326.695px; top: 0px;">
					<div onclick="openProject('/main/56/?modal=1', '/main/56/', 'Аэропорт в Омске', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/public/src/0001.2_Vanriver.Interiors/00.jpg" alt="Аэропорт в Омске"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Vanriver.Interiors</div>
							<div class="projects_year text_10">2023 —</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 653.39px; top: 0px;">
					<div onclick="openProject('/main/54/?modal=1', '/main/54/', 'Храм в Териберке', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/public/src/0002_Sydney_Prime/00.jpg" alt="Храм в Териберке"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Sydney Prime</div>
							<div class="projects_year text_10">2023 —</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 0px; top: 280px;">
					<div onclick="openProject('/main/51/?modal=1', '/main/51/', 'Соборная мечеть в Казани', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1255982938.jpg" alt="Соборная мечеть в Казани"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Соборная мечеть в Казани</div>
							<div class="projects_year text_10">&nbsp;2022 —</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 326.695px; top: 280px;">
					<div onclick="openProject('/main/52/?modal=1', '/main/52/', 'Forum', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/90325007.jpg" alt="Forum"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Forum</div>
							<div class="projects_year text_10">2022 – </div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 653.39px; top: 280px;">
					<div onclick="openProject('/main/20/?modal=1', '/main/20/', 'Кутузовский XII', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1364731874.jpg" alt="Кутузовский XII"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Кутузовский XII</div>
							<div class="projects_year text_10">2016 - 2020</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 0px; top: 560px;">
					<div onclick="openProject('/main/49/?modal=1', '/main/49/', 'Lunar', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1173735420.jpg" alt="Lunar"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Lunar</div>
							<div class="projects_year text_10">2020 —</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 326.695px; top: 560px;">
					<div onclick="openProject('/main/11/?modal=1', '/main/11/', 'Nabokov', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1309569384.jpg" alt="Nabokov"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Nabokov</div>
							<div class="projects_year text_10">2013 - 2017</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 653.39px; top: 560px;">
					<div onclick="openProject('/main/18/?modal=1', '/main/18/', 'Brodsky', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1931106741.jpg" alt="Brodsky"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Brodsky</div>
							<div class="projects_year text_10">2016 - 2022</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 0px; top: 840px;">
					<div onclick="openProject('/main/47/?modal=1', '/main/47/', 'Дмитровка IX', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1578442619.jpg" alt="Дмитровка IX"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Дмитровка IX</div>
							<div class="projects_year text_10">2016 – 2023</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 326.695px; top: 840px;">
					<div onclick="openProject('/main/41/?modal=1', '/main/41/', 'Lumin', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/836852017.jpg" alt="Lumin"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Lumin</div>
							<div class="projects_year text_10">2018 – 2021</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 653.39px; top: 840px;">
					<div onclick="openProject('/main/46/?modal=1', '/main/46/', 'Аэропорт в Геленджике ', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1588109803.jpg" alt="Аэропорт в Геленджике "></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Аэропорт в Геленджике </div>
							<div class="projects_year text_10">2018</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 0px; top: 1120px;">
					<div onclick="openProject('/main/14/?modal=1', '/main/14/', 'Музей Гуггенхайма', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1145304100.jpg" alt="Музей Гуггенхайма"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Музей Гуггенхайма</div>
							<div class="projects_year text_10">2014</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 326.695px; top: 1120px;">
					<div onclick="openProject('/main/43/?modal=1', '/main/43/', 'Третьяковская галерея ', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1387245755.jpg" alt="Третьяковская галерея "></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Третьяковская галерея </div>
							<div class="projects_year text_10">2013</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1 cat-2" style="position: absolute; left: 653.39px; top: 1120px;">
					<div onclick="openProject('/main/17/?modal=1', '/main/17/', 'Частный отель', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1515337432.jpg" alt="Частный отель"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Частный отель</div>
							<div class="projects_year text_10">2015 - 2016</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2 cat-4" style="position: absolute; left: 0px; top: 1400px;">
					<div onclick="openProject('/main/48/?modal=1', '/main/48/', 'Кампус в Сургуте', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/223200563.jpg" alt="Кампус в Сургуте"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Кампус в Сургуте</div>
							<div class="projects_year text_10">2019</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1 cat-4" style="position: absolute; left: 326.695px; top: 1400px;">
					<div onclick="openProject('/main/8/?modal=1', '/main/8/', 'Квартал 9-18', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1625340656.jpg" alt="Квартал 9-18"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Квартал 9-18</div>
							<div class="projects_year text_10">2010 - 2016</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 653.39px; top: 1400px;">
					<div onclick="openProject('/main/12/?modal=1', '/main/12/', 'Cloud Nine', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1260867725.jpg" alt="Cloud Nine"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Cloud Nine</div>
							<div class="projects_year text_10">2014 - 2022</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 0px; top: 1680px;">
					<div onclick="openProject('/main/6/?modal=1', '/main/6/', 'Загородный дом<br>Знаменское', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/561015965.jpg" alt="Загородный дом<br>Знаменское"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Загородный дом<br>Знаменское</div>
							<div class="projects_year text_10">2009 - 2011</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 326.695px; top: 1680px;">
					<div onclick="openProject('/main/22/?modal=1', '/main/22/', 'White Khamovniki', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/203932094.jpg" alt="White Khamovniki"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">White Khamovniki</div>
							<div class="projects_year text_10">2017 - 2022</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 653.39px; top: 1680px;">
					<div onclick="openProject('/main/35/?modal=1', '/main/35/', 'Дом с Атлантами', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/102083181.jpg" alt="Дом с Атлантами"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Дом с Атлантами</div>
							<div class="projects_year text_10">2018 —</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 0px; top: 1960px;">
					<div onclick="openProject('/main/7/?modal=1', '/main/7/', 'Загородный дом<br>Миллениум-парк', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/630913745.jpg" alt="Загородный дом<br>Миллениум-парк"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Загородный дом<br>Миллениум-парк</div>
							<div class="projects_year text_10">2012 - 2013</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 326.695px; top: 1960px;">
					<div onclick="openProject('/main/21/?modal=1', '/main/21/', 'Цвет 32', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1658874488.jpg" alt="Цвет 32"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Цвет 32</div>
							<div class="projects_year text_10">2016 - 2019</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 653.39px; top: 1960px;">
					<div onclick="openProject('/main/1/?modal=1', '/main/1/', 'Chekhov', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/49516498.jpg" alt="Chekhov"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Chekhov</div>
							<div class="projects_year text_10">2013 - 2017</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 0px; top: 2240px;">
					<div onclick="openProject('/main/5/?modal=1', '/main/5/', 'Atmosphere<br>Health Resort &amp; SPA', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1094099229.jpg" alt="Atmosphere<br>Health Resort &amp; SPA"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Atmosphere<br>Health Resort &amp; SPA</div>
							<div class="projects_year text_10">2007 - 2011</div>
						</div>
					</div>
				</div>
								<div class=" hide_in_common d-none preview-projects__item cat-3" style="position: absolute; left: 326.695px; top: 2240px;">
					<div onclick="openProject('/main/28/?modal=1', '/main/28/', 'Bunin', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/20886403.jpg" alt="Bunin"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Bunin</div>
							<div class="projects_year text_10">2015 - 2017</div>
						</div>
					</div>
				</div>
								<div class=" hide_in_common d-none preview-projects__item cat-3" style="position: absolute; left: 326.695px; top: 2240px;">
					<div onclick="openProject('/main/29/?modal=1', '/main/29/', 'Brodsky', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/837938187.jpg" alt="Brodsky"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Brodsky</div>
							<div class="projects_year text_10">2016 - 2022</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2 cat-4" style="position: absolute; left: 326.695px; top: 2240px;">
					<div onclick="openProject('/main/19/?modal=1', '/main/19/', 'Лофт-квартал', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/547535149.jpg" alt="Лофт-квартал"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Лофт-квартал</div>
							<div class="projects_year text_10">2016 —</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 653.39px; top: 2240px;">
					<div onclick="openProject('/main/45/?modal=1', '/main/45/', 'Savvin River Residence', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/328397536.jpg" alt="Savvin River Residence"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Savvin River Residence</div>
							<div class="projects_year text_10">2010 - 2022</div>
						</div>
					</div>
				</div>
								<div class=" hide_in_common d-none preview-projects__item cat-3" style="position: absolute; left: 980.085px; top: 2240px;">
					<div onclick="openProject('/main/30/?modal=1', '/main/30/', 'White Khamovniki', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/968559288.jpg" alt="White Khamovniki"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">White Khamovniki</div>
							<div class="projects_year text_10">2017 - 2022</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1 cat-4" style="position: absolute; left: 0px; top: 2520px;">
					<div onclick="openProject('/main/9/?modal=1', '/main/9/', 'Парк Рублево', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/518779344.jpg" alt="Парк Рублево"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Парк Рублево</div>
							<div class="projects_year text_10">2011 - 2016</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 326.695px; top: 2520px;">
					<div onclick="openProject('/main/16/?modal=1', '/main/16/', 'Bunin', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1403336417.jpg" alt="Bunin"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Bunin</div>
							<div class="projects_year text_10">2015 - 2017</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 653.39px; top: 2520px;">
					<div onclick="openProject('/main/44/?modal=1', '/main/44/', 'Ледовый дворец', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/2047127064.jpg" alt="Ледовый дворец"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Ледовый дворец</div>
							<div class="projects_year text_10">2016 - 2018</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-1" style="position: absolute; left: 0px; top: 2800px;">
					<div onclick="openProject('/main/31/?modal=1', '/main/31/', 'Fantastic House', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/904187329.jpg" alt="Fantastic House"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Fantastic House</div>
							<div class="projects_year text_10">2017 - 2022</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 326.695px; top: 2800px;">
					<div onclick="openProject('/main/10/?modal=1', '/main/10/', 'Синагога', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/962758742.jpg" alt="Синагога"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Синагога</div>
							<div class="projects_year text_10">2012</div>
						</div>
					</div>
				</div>
								<div class=" preview-projects__item cat-2" style="position: absolute; left: 653.39px; top: 2800px;">
					<div onclick="openProject('/main/53/?modal=1', '/main/53/', 'Хозблок в сосновом лесу  ', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/1037342814.jpg" alt="Хозблок в сосновом лесу  "></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Хозблок в сосновом лесу  </div>
							<div class="projects_year text_10">2010 – 2014 </div>
						</div>
					</div>
				</div>
								<div class=" hide_in_common d-none preview-projects__item cat-3" style="position: absolute; left: 980.085px; top: 2800px;">
					<div onclick="openProject('/main/60/?modal=1', '/main/60/', 'Chekhov', 'ru');" class="button-open-project d-block projects-hover projects-mobile ajax-nav">
						<div class="mb-1"><img src="/uploads/653764361.jpg" alt="Chekhov"></div>
						<div class="preview-projects__item-text">
							<div class="projects-title color-black text-uppercase">Chekhov</div>
							<div class="projects_year text_10">2013 - 2017</div>
						</div>
					</div>
				</div>
						</div>
	</div>
	<div class="container footer-mobile" style="padding-bottom: 60px;">
	<div class="line-dotted mb-2_5"></div>
	<div class="row mb-2_5">
		<div class="col-9 pr-0">
			<div class="footer-address" style="margin-top: -5px; margin-bottom: -5px;">
				109012, РОССИЯ, МОСКВА, <br>
				УЛИЦА ИЛЬИНКА, 4 <br>
				АНТРЕСОЛЬ 2, ПОМЕЩЕНИЕ 53-55, К. 1
			</div>
		</div>
		<div class="col-3 d-flex flex-column align-items-end justify-content-between">
			<div class="btn btn-up-mobile btn-up"><img src="/assets/img/icons/btn-up.svg" alt=""></div>
		</div>
	</div>
	<div class="d-flex justify-content-between mb-2_5">
		<div style="margin-top: -5px; margin-bottom: -5px;">
			<div><a href="mailto:INFO@TLP-AB.RU" class="link-black">INFO@TLP-AB.RU</a></div>
			<div><a href="tel:74957907976" class="link-black">7 (495) 790-79-76</a></div>
		</div>
	</div>
	<div class="line-dotted"></div>
	<div style="margin-top: -3px ;margin-bottom: -5px;">
		Developed - <a href="https://arkvision.pro/" target="_blank" class="text-uppercase link-black">ARKVISION</a>
	</div>
</div></div>

<div class="page-loader rotate-device">
	<img src="/assets/img/icons/rotate-device.svg">
</div>	<div class="mouse-cursor" style="transform: translate(702px, 437px);">
		<div class="cursor-outer">
			<div class="cursor-text">
				<!-- ВХОД -->
				<img src="/assets/img/icons/Enter_(RU).svg" alt="">
			</div>

			<div class="cursor-arrow">
				<img src="/assets/img/icons/Scroll.svg" alt="">
			</div>
			<div class="cursor-slide-left">
				<img src="/assets/img/icons/Left_arrow.svg" alt="">
			</div>
			<div class="cursor-slide-right">
				<img src="/assets/img/icons/Right_arrow.svg" alt="">
			</div>
			<div class="cursor-close">
				<img src="/assets/img/icons/close.svg" alt="">
			</div>
			<div class="cursor-drag">
				<img src="/assets/img/icons/drag.svg" alt="">
			</div>
		</div>
	</div>
</div></body></html>