<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breatec - {{ project.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
</head>
<body>
  <div id="loader">Загрузка...</div>
  
  <header class="page-header">
    <a class="AppHeader-logo" href="/" aria-label="Homepage">
      <object type="image/svg+xml" data="{{ url_for('static', filename='src/logo.svg') }}" class="logo-svg"></object>
    </a>
    <nav>
      <div class="page-header-inner">
        <a href="#" class="toggle-menu" role="button" aria-controls="menu-wrapper" aria-label="Open navigation" aria-expanded="false">
          <lottie-player src="{{ url_for('static', filename='src/icons_menu.json') }}"></lottie-player>
        </a>
      </div>
      <div id="menu-wrapper" class="menu-wrapper">
        <a href="/projects">Projects</a>
        <a href="/studio">Studio</a>
        <a href="/contacts">Contacts</a>
      </div>
    </nav>
  </header>

  <div class="main_container">
    <div class="content_container">
      {% if project %}
        <li id="projectName" class="project_name">{{ project.name }}</li>
        <div class="img_container">
          <img src="{{ url_for('static', filename=project.images[0]) }}" alt="{{ project.name }}" class="slider_img">
        </div>
        <h1 class="button">More info</h1>
        <div class="popup">
          <div class="popup-content">
            <div class="popup_header">
              <li class="project_name">{{ project.name }}</li>
              <img src="{{ url_for('static', filename='src/cross.svg') }}" class="close-popup" />
            </div>
            <h2 id="projectLocation">Location: {{ project.location }}</h2>
            <hr style="border: none; height: 3px; background-color: black;">
            <h2 id="projectArea">Area: {{ project.area }}</h2>
            <hr style="border: none; height: 3px; background-color: black;">
            <h2 id="projectProcess">Process: {{ project.process }}</h2>
            <hr style="border: none; height: 3px; background-color: black;">
            <h2>{{ project.description }}</h2>
          </div>
        </div>
      {% else %}
        <p>Проект не найден.</p>
      {% endif %}
    </div>
  </div>

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <script src="{{ url_for('static', filename='scripts/project.js') }}"></script>
</body>
</html>
