.html{
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
body{
    margin: 0 90px 0 90px;

}
.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.content_container{
    display: flex;
    margin-top: 17.96vh;
    flex-direction:column-reverse;
    align-items: center;
}

.AppHeader-logo {
    position: fixed;
    top: 70px;
    width: 100%;
    max-width: 270px; 
    height: auto;
}

.logo-svg {
    width: 100%;  
    height: auto;  
}

.menu_links{
    position: fixed;
    top: 73px;
    right: 181.5px;
}
.side_menu{
    position: fixed;
    top: 80px;
    width: 60px;
    height: 60px;
    right: 90px;
    cursor: pointer;
}

.page-header {
position: fixed;
width: 100%;
height: 10vh;
top: 0;
left: 0;
bottom: 0;
right: 0;
padding: 70px 0 0;
}

.page-header nav {
display: flex;
align-items: center;
justify-content: flex-end;
/* max-width: 1200px; */
/* margin: 0 auto; */
}

.page-header .page-header-inner {
display: flex;
align-items: center;
}

.page-header .page-header-inner * {
z-index: 1;
}

.page-header .toggle-menu {
    position: fixed;
    top: 70px;
    width: 60px;
    height: 60px;
    right: 90px;
    cursor: pointer;
}

.page-header lottie-player {
display: flex;
}

.menu-wrapper a{ 
font-family: "Inter", serif;
font-weight:400;
font-size: 50px;
text-decoration: none;
color: black;
}

.menu-wrapper  a:nth-child(2n){
    padding: 0  50px;
}
.menu-wrapper  a:nth-child(3){
    padding-right: 200px;
}

.menu-wrapper a:hover{
    text-decoration: underline 2px ;
}

.page-header .menu-wrapper {
transform: translateX(820px);
transition: transform 1s ease-in-out;
}

.page-header.menu-open .menu-wrapper {
transform: none;
}

.page-header .menu-wrapper:not(:last-child) {
margin-right: 50px;
}

.page-header .menu-wrapper a {
    display: inline-block;
}

.column h1{
    font-family: inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.19px;
    margin:  10px 0 0 0 ;
}
.column h2 {
    font-family: inter;
    font-size: 20px;
    line-height: 24.19px;
    font-weight: 400;
    margin: 0;
}

/* Медиа-запросы для адаптивности */
/* планшет */
@media (min-width: 768px) and (max-width: 1080px) {
    .AppHeader-logo {
        left: 90px;
        top: 70px;
    }
    .content_container{
        flex-direction: row;
        margin-top: 20vh;
    }
    .column{
        display: flex;
        flex-direction: column;
    }


}
/* ноутбук  */
@media (min-width:1081px) and (max-width: 1350px) {
  

    .AppHeader-logo {
        left: 90px;
        top: 70px;
    }

    .content_container{
        flex-direction: row;
        margin-top: 20vh; 
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    
}
/* большие экраны */
@media (min-width: 1351px) {
    .main_container {
        flex-direction: column;
        align-items: center;
    }  
     .AppHeader-logo {
        left: 90px;
    }
    .content_container{
        flex-direction: row;
        gap: 4.86vw;
    }
    .column{
        display: flex;
        flex-direction: column;
        width: 41.6vw;
        height: 64.2vh;
        margin-bottom: 182px;
    }
    .column:nth-child(2){
        width: 40.9vw;
    }
    .column .img_container{
        background-color: #D9D9D9;
        width: 41.6vw;
        height: 58.6vh;
    }  
    .footer{
        position: fixed;
        top: 90vh;
        left:90px;
        height: 9.375vh;
        width: 1270px;
        display: flex;
    }
    .footer h2{
        cursor: pointer;
        margin: 0;
        font-family: inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.2px;
    }
    .footer h2:nth-child(1){
        margin-right: 50px;
    }
    .footer h2:hover{
        text-decoration: underline 2px solid black;
    }
    .cards_container{
        display: flex;
        justify-content: center;
        gap: 3.125vh 4.16vw;
        flex-wrap: wrap;
        margin-bottom: 14.84vh;
    }
    .card h1{
        margin: 0;
        font-family: inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 24.19px;
    }
    .card h2{
        margin: 0;
        font-family: inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.19px;
    }

    .image{
        background-color: #D9D9D9;
        width: 26.36vh;
        height: 26.36vh;
    }
}


