* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: flex-stert;
    margin-top: 38px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 34px;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#loaderAnimation{
    width: 15%;
}

/* HEADER BLOCK */
.page-header {
    position: fixed;
    background-color: white;
    height: 14vh;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.page-header nav {
    position: fixed;
    top: 50px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}   
.page-header .page-header-inner {
    display: flex;
    align-items: center;
}   
.page-header .page-header-inner * {
    z-index: 1;
}   
.page-header .toggle-menu {
    position: fixed;
    top: 41.75px;
    width: 53px;
    height: 31.49px;
    right: 36px;
    cursor: pointer;
}  
.page-header lottie-player {
    display: flex;
} 
.menu_links{
    position: fixed;
    top: 73px;
    right: 181.5px;
}
.side_menu{
    position: fixed;
    top: 80px;
    width: 60px;
    height: 60px;
    right: 90px;
    cursor: pointer;
}
.menu-wrapper a{ 
    font-family: "Inter", serif;
    font-weight:400;
    font-size: 38.85px;
    text-decoration: none;
    color: black;
}
.menu-wrapper a:hover{
    text-underline-offset: 3px;
    text-decoration: underline 1px solid black;
}   
.page-header .menu-wrapper {
    transform: translateX(100vw);
    transition: transform 1s ease-in-out;
}   
.page-header.menu-open .menu-wrapper {
    transform: none;
}
.page-header .menu-wrapper a {
    display: inline-block;
}

@media (max-width: 1080px) {
    .page-header .menu-wrapper {
        position: fixed;
        width: 100%;
        height: 150px;
        right: 36px;
        top: 118.36px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow-y: auto;
    }   
}
  
/** LOGO BLOCK **/
.AppHeader-logo {
    position: fixed;
    left: 36px;
    top: 38px;
    width: 100%;
    max-width: 150px; 
    height: 60px;
    z-index: 99999;
    cursor: pointer;
}
.logo-svg {
    pointer-events: none;
    width: 100%;  
    height: auto;  
}


/* MAIN CONTAINER */
.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
}
.content_container{
    width: 100%;
    display: flex;
    margin-top: 9vh; 
    flex-direction:column;
    align-items: center;
    gap:70px;
    transition: transform 1s ease-in-out;
}
.text_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}
.text_block h1{
    margin: 0;
    width: inherit;
    height: fit-content;
    font-family: "Inter", serif;
    font-weight:400;
    font-size: 19.86px;
    margin: 11.35px 0;
}
.text_block a {
    font-family: "Inter", serif;
    font-weight:400;
    text-decoration: none;
    color: #6488FF;
}
.text_block a:hover{
    text-underline-offset: 3px;
    text-decoration: underline 1px solid #6488FF;
}
.arrow-svg{
    width:15.25px;
    height: auto;
}

.img_container {
    width: 100%;
    height: 46.31vh;
}
.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

/* Медиа-запросы для адаптивности */
/* планшет */
@media (min-width:500px) and (max-width:1080px){
    .img_container img {
        content:url("/public/src/map_horizontal.jpg");
        object-fit: contain;
        height: auto;
    } 
}
@media (min-width: 1080px) and (max-width: 1169px) {
    body {
        margin-top: 70px;
        margin-left: 90px;
        margin-right: 90px;
    }
    /* HEADER BLOCK */
    .page-header{
        padding: 70px 20px 0;
    }
    .page-header .toggle-menu {
        top: 70px;
        right: 90px;
    }  
    .page-header .menu-wrapper:not(:last-child) {
        margin-right: 50px;
    }
    .menu-wrapper a{ 
        font-size: 50px;   
    }
    .page-header .menu-wrapper a:not(:last-child) {
        margin: 0 10px;
      } 
    .menu-wrapper  a:is(:last-child){
        padding-right: 170px;
        padding-left: 10px;
    }
    /** LOGO BLOCK **/
    .AppHeader-logo {
        left: 90px;
        top: 70px;
    }
    /* MAIN CONTAINER */
    .content_container{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10vh; 
        
    }
    .text_block{
        width: 45%;
        height: 42.87vh;
    }
    .text_block h1{
        font-size: 25px;
        width: 100%;
    }
    .arrow-svg{
        width:22px;
        height: auto;
    }
    hr{
        height: 2px;
    }
    .img_container{
        width: 45%;
        height: 71vh;
    }
    .img_container img {
        object-fit: contain;
    } 
}
/* ноутбук  */
@media (min-width:1170px) and (max-width: 1350px) {
    body {
        margin-top: 70px;
        margin-left: 90px;
        margin-right: 90px;
    }
    /* HEADER BLOCK */
    .page-header{
        padding: 70px 20px 0;
    }
    .page-header .toggle-menu {
        top: 70px;
        right: 90px;
    }  
    .page-header .menu-wrapper:not(:last-child) {
        margin-right: 50px;
    }
    .menu-wrapper  a:nth-child(3){
        padding-right: 200px;
        padding-left: 25px;
    }
    .page-header .menu-wrapper a:not(:last-child) {
        margin: 0 25px 20px;
    } 
    .menu-wrapper a{ 
        font-size: 50px;   
    }
    /** LOGO BLOCK **/
    .AppHeader-logo {
        left: 90px;
        top: 70px;
    }
    /* MAIN CONTAINER */
    .content_container{
        flex-direction: row;
        margin-top: 10vh; 
        justify-content: space-between;
    }
    .text_block {
        width: 45%;
        height: 42.87vh;
    }
    .text_block h1{
        font-size: 25px;
        width: 100%;
    }
    hr{
        height: 1px;
    }
    .arrow-svg{
        width:22px;
        height: auto;
    }
    .img_container {
        width: 40%;
        height: 71vh;
    }
    .img_container img {
        object-fit: contain;
    }
    
}
/* большие экраны */
@media (min-width: 1351px) {
    body {
        margin-top: 70px;
        margin-left: 90px;
        margin-right: 90px;
    }
    /* HEADER BLOCK */
    .page-header{
        /* padding: 70px 20px 0; */
    }
    .page-header .toggle-menu {
        top: 70px;
        right: 90px;
    } 
    .page-header .menu-wrapper a:not(:last-child) {
        margin: 0 25px 20px;
    } 
    
    .page-header .menu-wrapper:not(:last-child) {
        margin-right: 50px;
    } 
    .menu-wrapper  a:nth-child(3){
        padding-right: 200px;
        padding-left: 25px;
    }
    .menu-wrapper a{ 
        font-size: 50px;   
    }
    /** LOGO BLOCK **/
    .AppHeader-logo {
        left: 90px;
        top: 70px;
    }
    /* MAIN CONTAINER */
    .content_container{
        flex-direction: row;
        margin-top: 10vh; 
        justify-content: space-between;
    }
    .text_block {
        width: 45%;
        height: auto;
    }
    .text_block h1{
        width: 100%;
        font-size: 25px;
    }
    hr{
        height: 1px;
    }
    .arrow-svg{
        width:22px;
        height: auto;
    }
    .img_container {
        width: 38%;
        height: 70vh;
    }
    .img_container img {
        object-fit: contain;
    }
}